<div class="col d-flex justify-content-center">
  <div class="card h-100 border-primary justify-content-center">
    <div>
      <div class="card" style="width: 18rem;">
        <img src="{{infoPhoto.thumbnailUrl}}" class="card-img-top" alt="{{infoPhoto.url}}">
        <div class="card-body">
          <h5 class="card-title">{{infoPhoto.title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
          <a href="{{infoPhoto.url}}" class="btn btn-primary">Show</a>
        </div>
      </div>
    </div>
  </div>
</div>